<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dados do usuário</title>
</head>
<body>
<form action="/result-dados" method="post">
    <label for="nome">Seu nome:</label>
    <input type="text" id="nome" name="nome"/> <br><br>

    <label for="cidade">Sua cidade:</label>
    <input type="text" id="cidade" name="cidade"/> <br><br>

    <label for="estado">Seu Estado:</label>
    <input type="text" id="estado" name="estado"/> <br><br>

    <button type="submit">Enviar</button>
</form>
</body>
</html>
